.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2% 0 2%;
}
.topbarLogin {
    background-color: #1ED760 !important;
    width: 20em;
    height: 5em;
    border-radius: 50px !important;
}